%nav.grey.darken-4.blue-grey-text.text-lighten-4.hide-on-large-only
  .nav-wrapper
    %a.button-collapse{"data-activates" => "slide-out", href: "#"}
      %i.material-icons menu
    %ul#nav-mobile.left
      %li
        = current_user.name ||= current_user.email
%ul#slide-out.side-nav.fixed.grey.darken-4.blue-grey-text.text-lighten-4
  #profilepic
    = image_tag @usr_avatar, size: "150x150", class: 'circle responsive-img', onerror: "this.onerror=null;this.src='" + current_user.gravatar_url + "?type=large';"
    .profile-name
      = current_user.name ||= current_user.email
  %li{ class: menu_class_active(user_root_path, new_beer_log_path)}
    = link_to '<i class="fa fa-home fa-2x fa-fw"></i> <span>Home</span>'.html_safe,
      user_root_path, class: 'grey-text darken-3'
  %li{ class: menu_class_active(beer_logs_path) }
    = link_to '<i class="fa fa-calendar fa-2x fa-fw"></i> <span>Log History</span>'.html_safe,
      beer_logs_path, class: 'grey-text darken-3'
  %li{ class: menu_class_active(beers_path, new_beer_path) }
    = link_to '<i class="fa fa-beer fa-2x fa-fw"></i> <span>Beers</span>'.html_safe,
      beers_path, class: 'grey-text darken-3'
  %li{ class: menu_class_active(edit_user_path(current_user)) }
    = link_to '<i class="fa fa-cog fa-2x fa-fw"></i> <span>Settings</span>'.html_safe,
      edit_user_path(current_user), class: 'grey-text darken-3'
  - if current_user.has_role?(:admin)
    %li{ class: menu_class_active(admin_users_path) }
      = link_to '<i class="fa fa-lock fa-2x fa-fw"></i> <span>Admin</span>'.html_safe,
      admin_users_path, class: 'grey-text darken-3'
  - else
    %li{ class: menu_class_active(new_contact_path, create_contact_path) }
      = link_to '<i class="fa fa-envelope-open-o fa-2x fa-fw"></i> <span>Contact us</span>'.html_safe,
      new_contact_path, class: 'grey-text darken-3'
  %li
    = link_to '<i class="fa fa-sign-out fa-2x fa-fw"></i> <span>Log out</span>'.html_safe,
      destroy_user_session_path, method: :delete, class: 'grey-text darken-3'
