.valign-wrapper.row.login-box
  .col.card.s10.pull-s1.m6.pull-m3.l4.pull-l4
    .card-content
      .card-title Log in
      %br/

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .row
          .input-field.col.s12
            %i.material-icons.prefix account_circle
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "off"
        .row
          .input-field.col.s12
            %i.material-icons.prefix vpn_key
            = f.label :password
            = f.password_field :password, autocomplete: "off"
        .actions
          = f.submit "Log in", class: 'btn blue waves-effect waves-light'
        %br/

      = render "devise/shared/links"
