.page-layout
  .row.valign-wrapper
    .col.s9.m9.l8.left-align.left
      .card-title.grey-text.text-darken-3 Beers catalog
    .col.s3.m3.l4.right-align
      = link_to new_beer_path, class: "btn btn-large waves-effect waves-light" do
        Add beer
  %br/
  %br/
  .row
    = form_tag(beers_path, method: :get) do
      .input-field.col.s10.m10
        = text_field_tag :search, params[:search], :placeholder => "Search any beer you want", :autocomplete => "off"
        %label.label-icon{:for => "search"}
      .input-field.col.s2.m2
        %button.btn.waves-effect{:name => "action", :type => "submit"}
          .hide-on-small-only Search
          %i.material-icons.show-on-small-only  search
  %br/
  %table.bordered
    %tbody
    - if @beers.each do |item|
      %tr
        %td.img-container
          = image_tag item.photo || "noimage.jpg", class: 'circle responsive-img beer-image'
        %td
          .row
            .col.flow-text.orange-text.darken4= item.name
          .row
            .col= item.description
          .row
            - if item.abv
              .chip
                = item.abv
                \% ABV
            - if item.ibu
              .chip
                = item.ibu
                IBU
    - end.empty?
      %br/
      .flow-text.red-text.text-darken-3.center
        %i.fa.fa-beer
        Oh sorry, We don't have that special beer.
  = paginate @beers
